[tool.pylint.messages_control]

disable = [
    "missing-function-docstring",
    "missing-module-docstring",
    "missing-class-docstring",
    "invalid-name",
    "too-few-public-methods",
    "no-self-use"
]

[tool.black]
line-length = 88
target-version = ['py39']
skip-string-normalization = true
