services:
  backend:
    image: ${LOCAL_IMAGE_NAME}
    ports:
      - "8080:8080"
    environment:
      - PREDICTIONS_STREAM_NAME=${PREDICTIONS_STREAM_NAME}
      # RUN_ID: "ecfa50f261e64914817112759fbbfc48"
      - RUN_ID=Test123
      # TEST_RUN: "True"
      - AWS_DEFAULT_REGION=us-west-1
      - MODEL_LOCATION=/app/model
      - KINESIS_ENDPOINT_URL=http://kinesis:4566
    volumes:
      - "${HOME}/.aws:/root/.aws:ro"
      - "./model:/app/model:ro"
  kinesis:
    image: localstack/localstack:0.14.4
    ports:
      - "4566:4566"
    environment:
      - SERVICES=kinesis
  # volumes:
  #   - "${HOME}/.aws:/root/.aws:ro"



    # docker run -it --rm \
    # -p 8080:8080 \
    # -e PREDICTIONS_STREAM_NAME="ride_predictions" \
    # -e RUN_ID="ecfa50f261e64914817112759fbbfc48" \
    # -e TEST_RUN="True" \
    # -e AWS_DEFAULT_REGION="us-west-1" \
    # -v "${HOME}/.aws:/root/.aws:ro" \
    # ${LOCAL_IMAGE_NAME}